<nav class="nav-bar">
  <ul>
    <li><%= link_to "Home", categories_path %></li>
  </ul>
</nav>

<div class="edit">
  <h2>Edit Task</h2>

  <%= render "form", task: @task %>

  <%= link_to "Back to category", category_path(@category.id) %>
</div>