<nav class="nav-bar">
  <ul>
    <li><%= link_to "Home", categories_path %></li>
  </ul>
</nav>

<div class="new-task">
  <h2>New task</h2>
  <div class="create-task-page">
    <%= render "form" %>
  </div>

  <div class="category-path-link">
    <%= link_to "Back to category", category_path(@category.id) %>
  </div>
</div>