/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* body {
    background-color: gray;
 } */
 body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: #021027;
   color: white;
 }
 .header {
   text-align: right;
   padding: 10px;
   top: 0;
   background-color: firebrick;
   color: white;
 }
 .header > a {
   color: white;
 }
 .header > a:hover {
   text-decoration: none;
   color: #021027
 }
 .title {
   color: rgb(188, 29, 188);
   padding: 5px;
   text-transform: uppercase;
 }
.flexbox-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border-radius: 3px;
   margin: auto;
   max-width: 1200px;
   height: 500px;
   overflow: auto;
}
.category-container {
   margin: 5px;
   padding: 3px;
   height: fit-content;
   width: 200px;
   border: 1px solid lightgrey;
   /* box-shadow: 5px 10px #cac6c6; */
   text-align: center;
   border-radius: 3px;
   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
}
.category-container > h3 {
   text-transform: uppercase;
   color: rgb(188, 29, 188);
}
.category {
   text-align: center;
}
.category > h1 {
   color: rgb(188, 29, 188);
   text-transform: uppercase;
}
a {
   text-decoration: none;
   cursor: pointer;
   color: blue;
}
a:hover {
   text-decoration: underline;
   color: white;
}
.create-task-button1 {
   border: 1px solid gray;
   box-shadow:2px 4px #cac6c6;
   max-width: fit-content;
   padding: 5px;
   border-radius: 3px;
   cursor: pointer;
}
.create-task-button1 > a {
   text-decoration: none;
   color: black;
}
.create-task-button1:hover {
   background-color: rgb(6, 172, 6);
}
.create-task-button1 a:hover{
   color: white;
}
 table, th, td {
   border: 1px solid white;
   text-align: center;
   min-width: 370px;
 }
 table {
   border-collapse: collapse;
   margin: auto;

 }
 .table-row-data {
   max-height: 300px;
 }
 td {
   width: 350px;
 }
 th {
   background-color: rgb(243, 74, 45);
 }
nav {
   background: #fff;
   box-shadow: 0px 5px 0px #dedede;
}
nav ul {
   list-style: none;
 }
 nav ul li {
   display: inline-block;
 }
 nav ul li a {
   display: block;
   padding: 5px;
   text-decoration: none;
   color: #aaa;
   font-weight: 600;
   text-transform: uppercase;
 }
 nav ul li a,
 nav ul li a:after,
 nav ul li a:before {
   transition: all .5s;
 }
 nav ul li a:hover {
   color: #555;
   text-decoration: none;
 }

 nav.nav-bar ul li a {
  position: relative;
}
nav.nav-bar ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: tomato;
  height: 1px;
}
nav.nav-bar ul li a:hover:after {
  width: 100%;
}
.create-task {
   margin: 5px;
}
input, textarea {
   background-color: transparent;
   color: white;
}
textarea {
   width: 300px;
   height: 150px;
   resize: none;
}
.new-task > h2 {
   color: rgb(188, 29, 188); ;
   padding: 5px;
}.new-category > h2 {
   color: rgb(188, 29, 188);;
   padding: 5px;
}
.create-button {
   margin-top: 5px;
   padding: 5px;
   border: none;
   border-radius: 3px;
   background-color: rgb(6, 172, 6);
   color: white;
}
.create-button:hover {
   background-color: rgb(4, 193, 4);
   cursor: pointer;
}
.edit > h2{
   color: blue;
   padding: 5px;
}
.notice {
    color: green;
}
.alert {
   color: red;
}
.field > input {
   width: 15vw;
}