/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* body {
    background-color: gray;
 } */
 
 .header {
   text-align: right;
   padding: 10px;
   /* position: fixed; */
   top: 0;
   /* width: 100%; */
 }
 .logout a:hover {
   text-decoration: none;
 }
 .title {
   background-color: firebrick;
   color: white;
   padding: 5px;
   text-align: center;
 }
.flexbox-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border: 1px solid gray;
   border-radius: 3px;
   margin: auto;
   box-shadow: 5px 10px #cac6c6;
   max-width: 1200px;
   height: 500px;
   overflow: auto;
}
.category-container {
   margin: 5px;
   padding: 3px;
   height: fit-content;
   width: 200px;
   border: 1px solid lightgrey;
   text-align: center;
   border-radius: 3px;
}
a {
   text-decoration: none;
   cursor: pointer;
   color: blue;
}
a:hover {
   text-decoration: underline;
   color: black;
}
.create-task-button1 {
   border: 1px solid gray;
   box-shadow:2px 4px #cac6c6;
   max-width: fit-content;
   padding: 5px;
   border-radius: 3px;
   cursor: pointer;
}
.create-task-button1 > a {
   text-decoration: none;
   color: black;
}
.create-task-button1:hover {
   background-color: rgb(6, 172, 6);
}
.create-task-button1 a:hover{
   color: white;
}
 table, th, td {
   border: 1px solid black;
   text-align: center;
   min-width: 370px;
 }
 table {
   border-collapse: collapse;
   margin: auto;
 }
 .table-row-data {
   max-height: 300px;
 }
 td {
   width: 350px;
 }
 th {
   background-color: lightgray;
 }
.nav-bar {
   background-color: firebrick;
   padding: 10px;
}
.nav-bar > a {
   color: white;
}
.create-task {
   margin: 5px;
}
textarea {
   width: 300px;
   height: 150px;
   resize: none;
}
.new-task > h2 {
   background-color: firebrick;
   color: white;
   padding: 5px;
}.new-category > h2 {
   background-color: firebrick;
   color: white;
   padding: 5px;
}
.create-button {
   margin-top: 5px;
   padding: 5px;
   border: none;
   border-radius: 3px;
   background-color: rgb(6, 172, 6);
   color: white;
}
.create-button:hover {
   background-color: rgb(4, 193, 4);
   cursor: pointer;
}
.edit > h2{
   background-color: firebrick;
   color: white;
   padding: 5px;
}
.notice {
    color: green;
}
.alert {
   color: red;
}