.reset-password-container {
    border: 5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 50vh;
    background-color: color-mix(in srgb, #34c9eb 50%, white 50%);
    margin-top: 100px;   
}