.signup-container {
    border: 2px solid lightgray;
    /* box-shadow: 5px 10px #cac6c6; */
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 50vh;
    margin-top: 100px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
         box-shadow: 0 10px 6px -6px #777;   
}
/* .signup-container > a {
    color: black;
} */
.actions {
    padding: 5px;
}
.actions > input {
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
    height: 25px;
}
.actions > input:hover {
    cursor: pointer;
    background-color: rgb(7, 184, 7);
}