<%= link_to "Home", categories_path %> |
<%= link_to "Delete ", category_path(@category),
    method: :delete, data: { turbo_confirm: "Are you sure?" }
%>
<div class="edit">
  <h2>Edit Category</h2>

  <%= render "form", category: @category %>

  <%= link_to "Back to category", category_path(@category.id) %>
</div>
