<nav class="nav-bar">
  <ul>
    <li><%= link_to "Home", categories_path %></li>
  </ul>
</nav>

<div class="new-category">
  <h2>New category</h2>

  <%= render "form", category: @category %>
</div>
